.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px;

  .logo {
    img {
      width: 150px;
      cursor: pointer;
    }
  }
}

.navbar-section {
  display: flex;
  gap: 20px;

  a {
    position: relative;
    color: #000;
    text-decoration: none;
    font-weight: 300;
    padding-bottom: 4px;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 1px;
      background: #000;
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }

    &.active::after {
      width: 100%;
    }
  }
}
