.layout-container {
  columns: 3 300px;
  column-gap: 1rem;
  margin: 1rem auto;
  width: min(1000px, 100%); /* Responsive width */
}

img {
  display: block;
  margin-bottom: 1rem;
  width: 100%; /* Makes the images resize automatically */
}
